body {
    padding-top: 56px;
}

.title {
color: black;
}

.title:hover {
color: grey;
}


.list-group-item:hover {
color: grey;
}

.card {
      border: 0.5px solid #ccc;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(1, 1, 0, 0.2);
}