{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}



{% include 'navbar.html' %}



<style>
    .container-password-change {
        background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(1, 1, 0, 0.5);
        margin: 50px auto;
        width: 650px;
        }
</style>

  <div class="container-password-change text-center">
     <div class="card-header">
        <h3 class="text-center font-weight-light my-4">Password Change</h3>
     </div>
    <div class="card-body">
        <form action="{% url 'user_account:password_change' %}" method="POST">
          {% csrf_token %}
          <label class="small mb-2" for="{{ form.old_password.id_for_label }}">Old Password:</label>
          {{ form.old_password }}

          <label class="small mb-2" for="{{ form.new_password1.id_for_label }}">New Password:</label>
          {{ form.new_password1 }}

          <label class="small mb-2"  for="{{ form.password2.id_for_label }}">Confirm Password:</label>
          {{ form.new_password2 }}

            <div class="form-group mt-4 mb-0">
               <input class="btn btn-secondary btn-block" type="submit" value="Change Password" />
           </div>
        </form>
    </div>
  </div>

<hr>

{% include 'footer.html' %}



{% endblock %}