{% extends "base.html" %}
{% load static %}
{% block title %} Payment successful {% endblock %}

{% block content %}
<section class="dashboard-section body-collapse pay step step-2 step-3 receive-3">
    <div class="request-submitted pb-120 text-center">
        <div class="top-area" style="margin-top: 150px;">
            <div class="icon-area" style="background-color: green; border-radius: 50%; width: 150px; height: 150px; display: flex; align-items: center; justify-content: center; margin: 0 auto;">
                <img src="{% static 'images/icon/success.png' %}" alt="icon" style="max-width: 70%; max-height: 70%;">
            </div>
        </div>
        <div class="container mt-4">
            <h1 class="text-center mb-4">Thank you</h1>
            <p class="text-center">Your payment has been successfully completed.</p>
        </div>
    </div>
</section>
{% endblock %}