{% extends 'base.html' %}
{% load i18n %}
{% load static humanize %}

{% block title %}

{{ title }}

{% endblock %}

{% block content %}

{% block header %}

{% include 'navbar.html' %}

{% endblock %}

 <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    {% if product.discount %}
                    <div class="col-md-6 position-relative">
                        <img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="product image" />
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">{% trans 'Sale' %}</div>
                    </div>

                    <div class="col-md-6">
                        <div class="small mb-1">SKU: {{ product.id }}</div>
                        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                        <div class="fs-5 mb-5">
                            <span>${{ product.price_with_discount|intcomma }}</span>
                        </div>
                         {% if average_stars %}
                        <p>{% trans 'Average Stars' %}: {{ average_stars }} <i class="fas fa-star" style="color: yellow;"></i></p>
                        {% else %}
                        <p>{% trans 'No reviews yet' %}.</p>
                         {% endif %}
                        <p class="lead">{{ product.description }}</p>
                        <div class="d-flex">
                            <form class="text-center" id="inputQuantity" type="num" value="1" style="max-width: 3rem"  action="{% url 'cart:cart_add' product.id %}" method='post'>
                                {{ cart_product_form }}
                                <br>
                                {% csrf_token %}
                                <input class="btn btn-outline-dark flex-shrink-0" type="submit" value="{% trans 'Add to cart' %}">
                            </form>
                        </div>

                    </div>
                    {% else %}
                     <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ product.image.url }}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: {{ product.id }}</div>
                        <h1 class="display-5 fw-bolder">{{ product.name }}</h1>
                        <div class="fs-5 mb-5">
                            <span class="">${{ product.price|intcomma }}</span>
                        </div>
                        {% if average_stars %}
                        <p>Average Stars: {{ average_stars }} <i class="fas fa-star" style="color: yellow;"></i></p>
                        {% else %}
                        <p>No reviews yet.</p>
                         {% endif %}
                        <p class="lead">{{ product.description }}</p>
                        <div class="d-flex">
                            <form class="text-center" id="inputQuantity" type="num" value="1" style="max-width: 3rem"  action="{% url 'cart:cart_add' product.id %}" method='post'>
                                {{ cart_product_form }}
                                <br>
                                {% csrf_token %}
                                <input class="btn btn-outline-dark flex-shrink-0" type="submit" value="Add to cart" >
                            </form>

                        </div>
                    </div>
                </div>
                {% endif %}
            <section class="reviews-section">
    {% if user.is_authenticated %}
                <br>
        <a href="{% url 'products:add_review' product.id %}">
            <button type="button" class="btn btn-outline-dark flex-shrink-0">
                <i class="fa-solid fa-star"></i> {% trans 'Add review' %}
            </button>
        </a>
        <br><br>
    {% endif %}

    <h4 class="mt-4 mb-3">{% trans 'All Reviews' %}</h4>
    <hr class="mb-4">
    {% with reviews.count as total_reviews %}
     <p> {{ total_reviews }} review{{ total_reviews|pluralize }}</p>
    {% endwith %}
    <div class="row">
        {% if reviews %}
            {% for review in reviews %}
                <div class="col-md-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ review.product.name }}</h5>
                            <p class="card-text">
                                {{ review.stars }}
                                <i class="fas fa-star" style="color: yellow;"></i>
                            </p>
                            <p class="card-text">
                                <strong>{{ review.user }}:</strong>
                            </p>
                            <p class="card-text">{{ review.text }}</p>

                             {% if user == review.user %}
                                <a href="{% url 'products:delete_review' review.id %}" class="btn btn-outline-danger">{% trans 'Delete' %}</a>
                                <a href="{% url 'products:update_review' review.id %}" class="btn btn-outline-primary">{% trans 'Update' %}</a>
                            {% endif %}

                            <p class="card-text">
                                <small class="text-muted">{{ review.created_at }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-md-12">
                <p>{% trans 'No reviews yet.' %}</p>
            </div>
        {% endif %}
    </div>
</section>
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">{% trans 'Related products' %}</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if recommended_products %}
                {% for p in recommended_products %}
                    {% if not p.discount %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <a href="{{ p.get_absolute_url }}">
                                    <img width="450" height="200" class="card-img-top" src="{% if p.image %} {{ p.image.url }} {% else %} {% static 'img/no_image.png' %}{% endif %}" alt="...">
                                </a>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder">{{ p.name|capfirst }}</h5>
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        {{ p.price|intcomma }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="{{ p.get_absolute_url }}">View options</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                <a href="{{ p.get_absolute_url }}">
                                    <img width="450" height="200" class="card-img-top" src="{% if p.image %} {{ p.image.url }} {% else %} {% static 'img/no_image.png' %}{% endif %}" alt="...">
                                </a>
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <h5 class="fw-bolder">{{ p.name|capfirst }}</h5>
                                        <div class="d-flex justify-content-center small text-warning mb-2">
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                            <div class="bi-star-fill"></div>
                                        </div>
                                        {{ p.price|intcomma }}
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center">
                                        <a class="btn btn-outline-dark mt-auto" href="{{ p.get_absolute_url }}">View options</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>



{% block footer %}

{% include 'footer.html' %}

{% endblock %}


{% endblock %}