{% load static %}

{% block css %}

<style>
  .icon-black {
    color: #000;
  }

  .icon-black:hover {
    color: #666;
  }
</style>

{% endblock %}

<footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top mt-auto">
  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
      <img class="ms-3" src="{% static 'images/logo.png' %}" style="max-height: 40px; max-width: 100%;">
    </a>
    <span class="mb-3 mb-md-0 text-body-secondary">© 2023 Micron Shop</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fab fa-twitter icon-black"></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="https://www.instagram.com/vasyl.laptiev?igsh=MW5vbzA4b3FqZ3VsYg=="><i class="fab fa-instagram icon-black"></i></a></li>
    <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fab fa-facebook icon-black"></i></a></li>
  </ul>
</footer>











