{% extends 'base.html' %}

{% load static crispy_forms_tags  %}

{% block title %}
 {{ title }}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile_management.css' %}">
{% endblock %}

{% block content %}


    <div class="container">
        <h1>Update your account</h1>
        <form method="post" action="{% url 'user_account:profile_management' %}" autocomplete="off">
            {% csrf_token %}
            <div class="form-group">
                {{ user_form.username|as_crispy_field }}
            </div>
            <div class="form-group">
                {{ user_form.email|as_crispy_field }}
            </div>
            <div class="form-group">
                <button type="submit">Update your account</button>
            </div>
        </form>
    </div>
{% endblock %}